# Manual de marca fornecido pelo cliente (não é código, é material de
# origem/referência — 178MB, muito acima do limite do GitHub, e
# copyright do cliente, não do projeto).
Manual de Aplicação de Marca*.pdf
