# Manual de marca fornecido pelo cliente (não é código, é material de
# origem/referência — 178MB, muito acima do limite do GitHub, e
# copyright da FESFSUS, não do projeto).
Manual de Aplicação de Marca - FESFSUS - 2024.pdf
